.my-btn {
    color: #fff;
    text-transform: uppercase;
    display: block;
    padding: 12.5px 0;
    text-align: center;
    font-family: $font-gotham-medium;
    transition: background-color .3s;
    border: none;
    width: 100%;
    cursor: pointer;
    
    &:hover {
        color: #fff;
        text-decoration: none;
    }

    &--1 {
        background-color: $red;

        &:hover {
            background-color: darken($red, 10);
        }
    }

    &--2 {
        background-color: $grey-dark;

        &:hover {
            background-color: darken($grey-dark, 10);
        }
    }

    &--3 {
        background-color: #69737b;
        
        &:hover {
            background-color: darken(#69737b, 10);
        }
    }

    &--sm {
        padding: 5.5px 0;
    }

    &--text-initial {
        text-transform: initial;
    }

    &--ico {
        img {
            transform: translateY(-3px);
        }
    }
}

.my-btn2 {
    border: 1px solid #ebebeb;
    color: #6a737b;
    width: calc(50% - 4px);
    background-color: transparent;
    text-align: left;
    line-height: 12px;
    font-size: 13px;
    padding: 8px 8px;
}