
#cookie-disclaimer {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 80000;
  transition: all 0.3s ease-in-out;
  bottom: 0;
  transform: translate(0, 100%);

  &.active {
    transform: translate(0, 0);
  }
}

#cookie-disclaimer {
  background-color: #fff;
  border-top: 1px #e1e1e1 solid;
  padding: 12px 15px;

  .cookie-disclaimer-wrapper {
    max-width: 690px;
    margin: 0 auto;

    .cookie-disclaimer-content {
      width: auto;
      text-align: left;
      line-height: 26px;
      font-size: 12px;
      color: #444444;
      position: relative;
      padding-left: 35px;

      a {
        color: #ed174b;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
    .cookie-disclaimer-close {
      margin-left: 15px;
      margin-bottom: 20px;
      float: right;
      background-color: #c4102f;
      border: none;
      cursor: pointer;
      outline: none;
      color: #fff;
      text-align: center;
      font-size: 14px;
      height: 26px;
      line-height: 26px;
      padding: 0 10px;
      position: relative;
      z-index: 2;
    }
  }
}