.form-date {
    padding-top: 8px;
    .dropdowns {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__header {
        color: $grey;
        font-size: 1em;
        font-family: $font-open;
        display: inline-block;
        margin-bottom: 10px;
    }
}

.dropdown {
    &-1,
    &-3 {
        width: 25%;
    }

    &-2 {
        width: 40%;
    }

    select,
    &-btn {
        width: 100%;
        text-align: left;
        border: 1px solid #ebebeb;
        background-color: transparent;
        color: $grey;
        font-family: $font-open;
        background-image: url(../images/dropdown-arrow.png);
        background-repeat: no-repeat;
        background-position: right 10px center; 
        height: 30px;
        -webkit-appearance: none;
        -moz-appearance: none;
        text-indent: 1px;
        text-overflow: '';
    }

    select {
        padding-left: 7px;
    }

    .dropdown__menu {
        min-width: auto;
        width: 100%;
        border-radius: 0;
        padding: 0;
        border: 1px solid #ebebeb;
        max-height: 150px;
        overflow-y: scroll;

        &__item {
            display: block;
            width: 100%;
            min-width: auto;
            font-family: $font-open;
            font-size: 13px;
            padding: 6px;

            &:hover {
                background-color: $grey;
                color: #fff;
            }
        }
    }
}

input[type=file] {
    display:none;
    margin:10px;
    
    & + label {
       display:inline-block;
       margin:20px;
       padding: 4px 32px;
       background-color: #FFFFFF;
       border:solid 1px #666F77;
       border-radius: 6px;
       color:#666F77;
       z-index: 10;
   }
   
   &:active + label {
       background-image: none;
       background-color:#2D6C7A;
       color:#FFFFFF;
   }
}