
.form-section {
    position: relative;
    margin-top: 16px;
    margin-bottom: 9px;
    
    input[type="email"],
    input[type="password"],
    input[type="text"] {
        -webkit-transition: all .3s;
        transition: all .3s;
        outline: 0;
        box-shadow: none;
        border: none;
        border-bottom: 1px solid #ced4da;
        border-radius: 0;
        background-color: transparent;
        z-index: 3;
        position: relative;

        &:focus {
            box-shadow: 0 1px 0 0 $red;
            border-bottom: 1px solid $red;

            + label {
                color: $red;
                    -webkit-transform: translateY(-70%);
                    -ms-transform: translateY(-70%);
                    transform: translateY(-70%);
                    font-size: 10px;
            }
        }

        &.active {
            & + label {
                -webkit-transform: translateY(-70%);
                -ms-transform: translateY(-70%);
                transform: translateY(-70%);
                font-size: 10px;
            }
        }
    }

    label {
        font-size: 13px;
        position: absolute;
        top: 3px;
        left: 0;
        -webkit-transition: .2s ease-out;
        transition: .2s ease-out;
        cursor: text;
        color: $grey;
        font-family: $font-open;
        z-index: 10;
    }

    &--2 {
        label {
            color: #b1b1b1;
        }
    }
}

.checkbox {

    input[type="checkbox"] {
        visibility: hidden;
        width: 0;
        height: 0;

        &:checked {
            & + span {
                &:after {
                    content: '';
                }
            }
        }
    }
    span {
        display: inline-block;
        position: relative;
        padding-left: 27px;

        &:after {
           
            width: 11px;
            height: 11px;
            position: absolute;
            left: -2px;
            top: 2px;
            background-color: $red;
        }
    
        &:before {
            content: '';
            width: 15px;
            height: 15px;
            border: 1px solid #ebebeb; 
            position: absolute;
            left: -4px;
            top: 0;
            background-color: #fff;
        }
    }
}

.fileitem {
    &__item {
        color: #b1b1b1;
        font-family: $font-open;
        font-size: 12px;

        &:empty {
            & + img {
                display: none;
            }
        }
        & + img {
            padding: 5px;
            display: inline-block;
            cursor: pointer;
        }
    }
}