.insert-more {
    position: relative;
    &__btn {
        visibility: hidden;
        &:checked {
            + .textarea {
                height: 50px;
                opacity: 1;
                padding: 4px;
                border-width: 1px;
                position: static;
                display: block;
            }
        }
    }

    label {
        position: relative;
        display: inline-block;
        padding-left: 27px;
        margin-top: 8px;
        line-height: 16px;
        font-size: 12px;

        &:before {
            content: url(../images/ico-more.png);
            position: absolute;
            left: 0;
            top: 6px;
        }

        span {
            color: #6a737b;
            font-family: "Open Sans";
        }
    }



    .textarea {
        display: none;
        width: 100%;
        height: 0;
        border: 1px solid #ebebeb;
        transition: all .3s;
        opacity: 0;
        padding: 0;
        border-width: 0;
        animation-name: height;
        animation-duration: .1s;
        animation-timing-function: ease;
        color: $grey;
        font-family: $font-open;
    }
}

@keyframes height {
    from {height: 0;}
    to {height: 50px;}
}