.footer {
    &-vote {
        position: fixed;
        z-index: 10;
        left: 0;
        right: 0;
        bottom: 0;
        input[type="text"] {
            padding: 3px 8px;
            width: 100%;
            margin-bottom: 11px;
            
            font-size: 1em;

            &::-webkit-input-placeholder { 
                color: $grey;
            }
            &::-moz-placeholder { 
                color: $grey;
            }
            &:-ms-input-placeholder { 
                color: $grey;
            }
            &:-moz-placeholder { 
                color: $grey;
            }
        }   
        
        &4 {
            position: fixed;
            z-index: 10;
            left: 0;
            right: 0;
            bottom: 0;
            p {
                color: #fff;
                text-align: center;

                span {
                    font-weight: 700;

                    a {
                        color: #fff;
                    }
                }
            }
        }
    }

    &__container {
        padding-top: 26px;
        padding-bottom: 30px;
        background-color: $grey-dark;
    }

    &-vote6 {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        
        form {
            padding-top: 30px;
        }

       img {
           transform: translateY(-11px);

           &:first-of-type {
               padding-right: 5px;
           }
           
           &:last-of-type {
               padding-left: 5px;
           }
       }
    }

    &-vote7 {
        .footer__container {
            color: #fff;
            line-height: 21px;

            span {
                font-weight: 700;
                text-transform: uppercase;
            }
        }
    }
}