.header {
    margin-bottom: 22px;

    &__container {
        background-color: $grey-dark;
        padding-left: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        z-index: 10;
        height: 50px;

        @media (min-width: 768px) {
            padding-right: 23px;
        }
    }

    &__menu {
        position: absolute;
        top: 12px;
        right: 15px;
        height: 24px;

        &__hamburger {
            cursor: pointer;
            border: 0;
            background-color: transparent;
            padding: 0;
            height: 24px;
            width: 27px;

            &:focus {
                outline: none;
            }

            span {
                top: 12px;
                width: 27px;
                background-color: $grey-light;
                height: 3px;
                display: inline-block;
                transition: all 250ms ease-out;
                position: absolute;
                left: 0;

                &:after,
                &:before {
                    content: '';
                    width: 27px;
                    height: 3px;
                    position: absolute;
                    right: 0;
                    background-color: $grey-light;
                    transition: all 250ms ease-out;
                }

                &:before {
                    top: -9px;
                }

                &:after {
                    bottom: -9px;
                }
            }

            &--open {
                & + .header__menu-list {
                    transform: translateY(0);
                }

                span {
                    background-color: transparent;

                    &:before {
                        transform: translateY(9px) rotate(45deg);
                    }
                    &:after {
                        transform: translateY(-9px) rotate(-45deg);
                    }
                }
            }
        }

        &-list {
            position: absolute;
            right: 0;
            top: 38px;
            transition: transform .3s;
            width: 265px;
            padding: 23px;
            background-color: $grey-dark;
            z-index: -1;
            transform: translateY(-600px);

            ul {
                padding-left: 0;
                margin-bottom: 0;

                li {
                    list-style-type: none;
                    line-height: 22px;
                    font-size: 14px;
                    color: #7c7878;
                    text-transform: uppercase;
                    font-weight: bold;

                    span {
                        color: #FAA32C;
                        text-transform: none;
                    }

                    &.space {
                        margin-top: 25px;
                    }
                }
            }

            a {
                color: #fff;
                font-family: $font-open;
                font-size: 13px;
                font-weight: normal;
                text-transform: none;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }

                &.button {
                    margin-top: 10px;
                    text-transform: uppercase;
                    min-width: 100px;
                    text-align: center;
                    line-height: 30px;
                    color: #fff;
                    display: inline-block;
                    padding: 0 30px;
                    height: 30px;
                    background-color: #7c7878;
                    transition: background-color 0.3s ease-in-out;
                    font-weight: bold;

                    &:hover {
                        text-decoration: none;
                        background-color: #a19e9e;
                    }

                    &.red {
                        background-color: #c4102f;

                        &:hover {
                            background-color: #ed1e41;
                        }
                    }
                }
            }
        }
    }
}