body {
    font-size: 13px;
}

*:focus {
    outline: none !important;
}

.img-center {
    display: block;
    margin: 0 auto;
}

.section-header {
    font-size: 1.384em;
    font-family: $font-gotham;
    line-height: 23px;

    &--1 {
        margin-bottom: 20px;
        padding-bottom: 26px;
        position: relative;

        &:after {
            content: '';
            width: 40px;
            height: 3px;
            background-color: $black;
            position: absolute;
            bottom: 0;
            left: 0;
        }
    }
}

.container {
    padding-left: 23px;
    padding-right: 23px;

    @media (min-width: 768px) {
        max-width: 700px;
        padding-left: 60px;
        padding-right: 60px;
    }
}

@for $i from 5 through 40 {
    .mb-#{$i} {
        margin-bottom: $i + px;
    }
}

.error {
    color: $red;
}

.success {
  color: green;
}

.time-p {
    font-family: $font-open;
    font-weight: 700;
    span {
        color: $red;
    }
}

.main .p-lighter {
    color: $grey-light2;
    line-height: 17px;
}


@mixin rangeThumb {
  width: 21px;
  height: 21px;
  margin: -8px 0  0;
  border-radius: 50%;
  background:  #69737b;
  cursor: pointer;
  border: 0 !important;
}

@mixin rangeTrack {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: #b2b2b2;
}

.range {
  position: relative;
  width: 100%;
  height: 1px;
}

.range input {
  width: 100%;
  position: absolute;
  top: 2px;
  height: 0;
  -webkit-appearance: none;


  &::-webkit-slider-thumb {
    -webkit-appearance: none; 
    @include rangeThumb;
  }

  &::-moz-range-thumb {
    @include rangeThumb;
  }

  &::-ms-thumb {
    @include rangeThumb;
  }

  // Track
  &::-webkit-slider-runnable-track {
    @include rangeTrack;
  }

  &::-moz-range-track {
    @include rangeTrack;
  }

  &::-ms-track {
    @include rangeTrack;
  }

  &:focus { 
    background: none;
    outline: none;
  }

  &::-ms-track { 
    width: 100%;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
}

.range-labels {
    padding: 0;
    list-style: none;
    position: relative;
    top: -42px;
    display: flex;
    justify-content: space-between;
  
  li {
    position: relative;
    width: 21px;
    text-align: center;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    display: inline-block;
    font-family: Gotham;
    font-size: 16px;
    font-weight: 700;
  }
  
  .active {
    color: #37adbf;
  }
  
  .selected::before {
    background: #37adbf;
  }
  
  .active.selected::before {
    display: none;
  }
}

.range-container {
    width: calc(100% - 60px);
    display: inline-block;
}


@supports (-ms-ime-align:auto) {  
  .range input { 
      height: 30px;
      top: -10px;
    } 

    .range {
      background-color: #b2b2b2;
      top: 4px;
    }
}
    