@font-face {
  font-family: 'Gotham';
  src: url('../fonts/Gotham-Black.eot');
  src: url('../fonts/Gotham-Black.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Gotham-Black.woff2') format('woff2'),
  url('../fonts/Gotham-Black.woff') format('woff'),
  url("../fonts/Gotham-Medium.otf") format('otf');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham-Medium';
  src: url('../fonts/Gotham-Medium.eot');
  src: url('../fonts/Gotham-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Gotham-Medium.woff2') format('woff2'),
  url('../fonts/Gotham-Medium.woff') format('woff'),
  url("../fonts/Gotham-Medium.otf") format('otf');
  font-weight: 500;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans&subset=latin-ext');

$font-gotham: 'Gotham';
$font-gotham-medium: 'Gotham-Medium';
$font-open: 'Open Sans', sans-serif;