.main {
    &-login,
    &-edit,
    &-homepage {
        .main-img {
            margin-bottom: 36px;
            padding-top: 20px;
            box-sizing: content-box;
        }

        p {
            margin-bottom: 40px;
        }
    }

    p {
        line-height: 20px;
        color: $grey;
        font-family: "Open Sans";
        font-size: 1em;
        margin-top: 0;
    }

    &-edit {
        .main-img {
            margin-bottom: 62px;
        }
    }

    &-application {
        .container {
            min-height: 300px;
            height: calc(100vh - 72px);
            display: flex;
            justify-content: space-between;
            flex-direction: column;
        }
    }

    .mb-19 {
        margin-bottom: 19px;
    }

    &-login {
        .checkbox {
            span {
                color: #b1b1b1;
                font-family: $font-open;
                font-size: .923em;
            }
        }

        .forgot-password {
            margin-top: 12px;
            color: $grey;
            font-family: $font-open;
            font-size: 1em;
            line-height: 20px;

            a {
                color: $grey;
                text-decoration: underline;
            }
        }
    }

    &-step {
        .step-header {
            display: flex;
            align-items: center;
            justify-content: space-between;

            &-step {
                font-size: 1em;
                font-family: $font-gotham-medium;
                color: $black;
            }
        }

        &__header {
            color: $red;
            font-family: $font-gotham;
            font-size: 1.384em;
            margin-bottom: 0;
        }

        &-1 {
            p {
                font-family: $font-open;
                font-size: .923em;;
                line-height: 17px;
            }
        }

        &-2 {
            .step-header {
                margin-bottom: 14px;
            }

            .container {
                min-height: 300px;
                height: calc(100vh - 72px);
                display: flex;
                justify-content: space-between;
                flex-direction: column;
            }
        }

        &-3 {
            .step-header {
                margin-bottom: 14px;
            }

            .form-style {
                .dropdown {
                    width: 100%;
                }
            }

            .form-date:not(.form-style) {
                margin-bottom: 18px;
            }

            .insert-more label:before {
                top: 0;
                cursor: pointer;
            }
        }
    }


    &-footer {
        background-color: $grey-dark;
        margin-left: -23px;
        margin-right: -23px;
        padding: 23px;

        @media (min-width: 768px) {
            margin-left: -60px;
            margin-right: -60px;
            padding-left: 60px;
            padding-right: 60px;
        }

        .checkbox {
            span {
                color: #b1b1b1;
                font-family: $font-open;
                display: block;

                &:before {
                    left: 0;
                }

                &:after {
                    left: 2px;
                }
            }

            a {
                color: #b1b1b1;
                font-family: $font-open;
                text-decoration: underline;
            }

            

        }
    }

    &-desktop {
        
        .container {
            background-color: #fff;
            padding-top: 32px;
        }

        p {
            color: #b1b1b1;
        }

        .under-section {
            color: $grey;
        }

        .form-style {
            .dropdown {
                width: 100%;
            }
        }

        .insert-more {
            label {
                &:before {
                    top: 0;
                }
            }
        }
    }

    &-verify {
        .section-header {
            span {
                color: $red;
            }
        }
    }
}

.desktop-view {
    background-color: #f2f2f2;

    .header {
        margin-bottom: 0;
    }
}