.main {
    &-votethanku {
        min-height: 450px;
        height: calc(100vh - 172px);

        .section-header {
            margin-top: 34px;
        }
    }

    &-vote1 {
        min-height: 450px;
        height: calc(100vh - 212px);

        .section-header {
            margin-top: 14px;
        }
    }

    &-vote2 {
        min-height: 450px;
        height: calc(100vh - 172px);

        .section-header {
            margin-top: 14px;
        }
    }

    &-vote3 {
        .time-p {
            margin-bottom: 22px;
        }

        .beer {
            .main-step__header {
                color: #fff;
                margin-bottom: 20px;
            }

            padding-top: 20px;
            padding-bottom: 33px;
            background-color: $grey-dark;

            p {
                color: #fff;
                margin-bottom: 24px;
            }
        }

        .place {
            padding-top: 20px;
            padding-bottom: 33px;

            .main-step__header {
                color: #000;
                margin-bottom: 20px;
            }
        }
    }

    &-vote4 {
        min-height: 450px;
        // height: calc(100vh - 172px);
        padding-bottom: 110px;

        .reported-beer {
            font-weight: 700;
            line-height: 20px;
            border: 1px solid #ebebeb;
            text-align: center;
            padding: 4px;
            color: #393536;
        }
    }

    .reported-beer-list {
        padding-left: 0;
        margin-bottom: 0;

        li {
            list-style-type: none;
            border-bottom: 1px solid #f2f2f2;
            padding-top: 8px;
            padding-bottom: 8px;
            display: flex;
            position: relative;
            overflow: hidden;

             &:hover {
                .beer-more {
                    transform: translateX(0);
                }
            }
        }

        .beer-counter {
            color: $red;
            font-weight: 700;
            display: inline-block;
            padding-right: 19px;
            font-size: 1.384em;
            vertical-align: top;
        }

        .beer-name {
            display: inline-block;
            color: #6a737b;
            strong {
                display: block;
                color: #231f20;
            }
        }

        .beer-more {
            position: absolute;
            left: 0;
            top: 0;
            color: #fff;
            text-transform: uppercase;
            background-color: rgba(57,53,53, .9);
            background-color: rgba(57, 53, 53, 0.9);
            width: 100%;
            height: 100%;
            text-align: center;
            line-height: 54px;
            transform: translateX(-800px);
            transition: transform .3s;

            &:hover {
                text-decoration: none;
            }
        }

       
    }

    &-vote5 {
        .form-inputs {
            display: flex;
            flex-direction: column;
        }

        input, button {
            border: 1px solid #ebebeb;
            padding: 4.5px 8px;
            width: calc(50% - 4px);
            background-color: #fff;
        }

        button {
            cursor: pointer;

            &.active {
                background-color: #EBEBEB;
            }
        }

        .flex {
            display: flex;
            justify-content: space-between;
        }

        .form-date {
            width: calc(50% - 4px);

            .dropdown {
                width: 100%;
            }
        }
    }

    &-vote6 {
        padding-bottom: 190px;
        .main-img {
            margin-bottom: 12px;
        }

        .beer {
            &-info {
                display: inline-block;
                margin-bottom: 24px;
            }

            &-owner {
                color: #231f20;
                font-weight: 700;
            }

            &-company {
                color: #6a737b;
                display: block;
                padding-bottom: 18px;
                border-bottom: 1px solid  #f2f2f2;
                margin-bottom: 18px;
            }
        }

        &n {
            padding-bottom: 0;
        }
        
        
    }
    
}