@import url("https://fonts.googleapis.com/css?family=Open+Sans&subset=latin-ext");
@font-face {
  font-family: 'Gotham';
  src: url("../fonts/Gotham-Black.eot");
  src: url("../fonts/Gotham-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/Gotham-Black.woff2") format("woff2"), url("../fonts/Gotham-Black.woff") format("woff"), url("../fonts/Gotham-Medium.otf") format("otf");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'Gotham-Medium';
  src: url("../fonts/Gotham-Medium.eot");
  src: url("../fonts/Gotham-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Gotham-Medium.woff2") format("woff2"), url("../fonts/Gotham-Medium.woff") format("woff"), url("../fonts/Gotham-Medium.otf") format("otf");
  font-weight: 500;
  font-style: normal; }

body {
  font-size: 13px; }

*:focus {
  outline: none !important; }

.img-center {
  display: block;
  margin: 0 auto; }

.section-header {
  font-size: 1.384em;
  font-family: "Gotham";
  line-height: 23px; }
  .section-header--1 {
    margin-bottom: 20px;
    padding-bottom: 26px;
    position: relative; }
    .section-header--1:after {
      content: '';
      width: 40px;
      height: 3px;
      background-color: #231f20;
      position: absolute;
      bottom: 0;
      left: 0; }

.container {
  padding-left: 23px;
  padding-right: 23px; }
  @media (min-width: 768px) {
    .container {
      max-width: 700px;
      padding-left: 60px;
      padding-right: 60px; } }

.mb-5 {
  margin-bottom: 5px; }

.mb-6 {
  margin-bottom: 6px; }

.mb-7 {
  margin-bottom: 7px; }

.mb-8 {
  margin-bottom: 8px; }

.mb-9 {
  margin-bottom: 9px; }

.mb-10 {
  margin-bottom: 10px; }

.mb-11 {
  margin-bottom: 11px; }

.mb-12 {
  margin-bottom: 12px; }

.mb-13 {
  margin-bottom: 13px; }

.mb-14 {
  margin-bottom: 14px; }

.mb-15 {
  margin-bottom: 15px; }

.mb-16 {
  margin-bottom: 16px; }

.mb-17 {
  margin-bottom: 17px; }

.mb-18 {
  margin-bottom: 18px; }

.mb-19 {
  margin-bottom: 19px; }

.mb-20 {
  margin-bottom: 20px; }

.mb-21 {
  margin-bottom: 21px; }

.mb-22 {
  margin-bottom: 22px; }

.mb-23 {
  margin-bottom: 23px; }

.mb-24 {
  margin-bottom: 24px; }

.mb-25 {
  margin-bottom: 25px; }

.mb-26 {
  margin-bottom: 26px; }

.mb-27 {
  margin-bottom: 27px; }

.mb-28 {
  margin-bottom: 28px; }

.mb-29 {
  margin-bottom: 29px; }

.mb-30 {
  margin-bottom: 30px; }

.mb-31 {
  margin-bottom: 31px; }

.mb-32 {
  margin-bottom: 32px; }

.mb-33 {
  margin-bottom: 33px; }

.mb-34 {
  margin-bottom: 34px; }

.mb-35 {
  margin-bottom: 35px; }

.mb-36 {
  margin-bottom: 36px; }

.mb-37 {
  margin-bottom: 37px; }

.mb-38 {
  margin-bottom: 38px; }

.mb-39 {
  margin-bottom: 39px; }

.mb-40 {
  margin-bottom: 40px; }

.error {
  color: #c30f2f; }

.success {
  color: green; }

.time-p {
  font-family: "Open Sans", sans-serif;
  font-weight: 700; }
  .time-p span {
    color: #c30f2f; }

.main .p-lighter {
  color: #b1b1b1;
  line-height: 17px; }

.range {
  position: relative;
  width: 100%;
  height: 1px; }

.range input {
  width: 100%;
  position: absolute;
  top: 2px;
  height: 0;
  -webkit-appearance: none; }
  .range input::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 21px;
    height: 21px;
    margin: -8px 0  0;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #69737b;
    cursor: pointer;
    border: 0 !important; }
  .range input::-moz-range-thumb {
    width: 21px;
    height: 21px;
    margin: -8px 0  0;
    border-radius: 50%;
    background: #69737b;
    cursor: pointer;
    border: 0 !important; }
  .range input::-ms-thumb {
    width: 21px;
    height: 21px;
    margin: -8px 0  0;
    border-radius: 50%;
    background: #69737b;
    cursor: pointer;
    border: 0 !important; }
  .range input::-webkit-slider-runnable-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    background: #b2b2b2; }
  .range input::-moz-range-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    background: #b2b2b2; }
  .range input::-ms-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    background: #b2b2b2; }
  .range input:focus {
    background: none;
    outline: none; }
  .range input::-ms-track {
    width: 100%;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent; }

.range-labels {
  padding: 0;
  list-style: none;
  position: relative;
  top: -42px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .range-labels li {
    position: relative;
    width: 21px;
    text-align: center;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    display: inline-block;
    font-family: Gotham;
    font-size: 16px;
    font-weight: 700; }
  .range-labels .active {
    color: #37adbf; }
  .range-labels .selected::before {
    background: #37adbf; }
  .range-labels .active.selected::before {
    display: none; }

.range-container {
  width: -webkit-calc(100% - 60px);
  width: calc(100% - 60px);
  display: inline-block; }

@supports (-ms-ime-align: auto) {
  .range input {
    height: 30px;
    top: -10px; }
  .range {
    background-color: #b2b2b2;
    top: 4px; } }

.my-btn {
  color: #fff;
  text-transform: uppercase;
  display: block;
  padding: 12.5px 0;
  text-align: center;
  font-family: "Gotham-Medium";
  -webkit-transition: background-color .3s;
  -o-transition: background-color .3s;
  transition: background-color .3s;
  border: none;
  width: 100%;
  cursor: pointer; }
  .my-btn:hover {
    color: #fff;
    text-decoration: none; }
  .my-btn--1 {
    background-color: #c30f2f; }
    .my-btn--1:hover {
      background-color: #940b24; }
  .my-btn--2 {
    background-color: #393535; }
    .my-btn--2:hover {
      background-color: #1f1c1c; }
  .my-btn--3 {
    background-color: #69737b; }
    .my-btn--3:hover {
      background-color: #52595f; }
  .my-btn--sm {
    padding: 5.5px 0; }
  .my-btn--text-initial {
    text-transform: initial; }
  .my-btn--ico img {
    -webkit-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    transform: translateY(-3px); }

.my-btn2 {
  border: 1px solid #ebebeb;
  color: #6a737b;
  width: -webkit-calc(50% - 4px);
  width: calc(50% - 4px);
  background-color: transparent;
  text-align: left;
  line-height: 12px;
  font-size: 13px;
  padding: 8px 8px; }

.form-section {
  position: relative;
  margin-top: 16px;
  margin-bottom: 9px; }
  .form-section input[type="email"],
  .form-section input[type="password"],
  .form-section input[type="text"] {
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    border-bottom: 1px solid #ced4da;
    -webkit-border-radius: 0;
    border-radius: 0;
    background-color: transparent;
    z-index: 3;
    position: relative; }
    .form-section input[type="email"]:focus,
    .form-section input[type="password"]:focus,
    .form-section input[type="text"]:focus {
      -webkit-box-shadow: 0 1px 0 0 #c30f2f;
      box-shadow: 0 1px 0 0 #c30f2f;
      border-bottom: 1px solid #c30f2f; }
      .form-section input[type="email"]:focus + label,
      .form-section input[type="password"]:focus + label,
      .form-section input[type="text"]:focus + label {
        color: #c30f2f;
        -webkit-transform: translateY(-70%);
        -ms-transform: translateY(-70%);
        transform: translateY(-70%);
        font-size: 10px; }
    .form-section input[type="email"].active + label,
    .form-section input[type="password"].active + label,
    .form-section input[type="text"].active + label {
      -webkit-transform: translateY(-70%);
      -ms-transform: translateY(-70%);
      transform: translateY(-70%);
      font-size: 10px; }
  .form-section label {
    font-size: 13px;
    position: absolute;
    top: 3px;
    left: 0;
    -webkit-transition: .2s ease-out;
    -o-transition: .2s ease-out;
    transition: .2s ease-out;
    cursor: text;
    color: #6a737b;
    font-family: "Open Sans", sans-serif;
    z-index: 10; }
  .form-section--2 label {
    color: #b1b1b1; }

.checkbox input[type="checkbox"] {
  visibility: hidden;
  width: 0;
  height: 0; }
  .checkbox input[type="checkbox"]:checked + span:after {
    content: ''; }

.checkbox span {
  display: inline-block;
  position: relative;
  padding-left: 27px; }
  .checkbox span:after {
    width: 11px;
    height: 11px;
    position: absolute;
    left: -2px;
    top: 2px;
    background-color: #c30f2f; }
  .checkbox span:before {
    content: '';
    width: 15px;
    height: 15px;
    border: 1px solid #ebebeb;
    position: absolute;
    left: -4px;
    top: 0;
    background-color: #fff; }

.fileitem__item {
  color: #b1b1b1;
  font-family: "Open Sans", sans-serif;
  font-size: 12px; }
  .fileitem__item:empty + img {
    display: none; }
  .fileitem__item + img {
    padding: 5px;
    display: inline-block;
    cursor: pointer; }

.form-date {
  padding-top: 8px; }
  .form-date .dropdowns {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
  .form-date__header {
    color: #6a737b;
    font-size: 1em;
    font-family: "Open Sans", sans-serif;
    display: inline-block;
    margin-bottom: 10px; }

.dropdown-1, .dropdown-3 {
  width: 25%; }

.dropdown-2 {
  width: 40%; }

.dropdown select, .dropdown-btn {
  width: 100%;
  text-align: left;
  border: 1px solid #ebebeb;
  background-color: transparent;
  color: #6a737b;
  font-family: "Open Sans", sans-serif;
  background-image: url(../images/dropdown-arrow.png);
  background-repeat: no-repeat;
  background-position: right 10px center;
  height: 30px;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  -o-text-overflow: '';
  text-overflow: ''; }

.dropdown select {
  padding-left: 7px; }

.dropdown .dropdown__menu {
  min-width: auto;
  width: 100%;
  -webkit-border-radius: 0;
  border-radius: 0;
  padding: 0;
  border: 1px solid #ebebeb;
  max-height: 150px;
  overflow-y: scroll; }
  .dropdown .dropdown__menu__item {
    display: block;
    width: 100%;
    min-width: auto;
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    padding: 6px; }
    .dropdown .dropdown__menu__item:hover {
      background-color: #6a737b;
      color: #fff; }

input[type=file] {
  display: none;
  margin: 10px; }
  input[type=file] + label {
    display: inline-block;
    margin: 20px;
    padding: 4px 32px;
    background-color: #FFFFFF;
    border: solid 1px #666F77;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    color: #666F77;
    z-index: 10; }
  input[type=file]:active + label {
    background-image: none;
    background-color: #2D6C7A;
    color: #FFFFFF; }

.insert-more {
  position: relative; }
  .insert-more__btn {
    visibility: hidden; }
    .insert-more__btn:checked + .textarea {
      height: 50px;
      opacity: 1;
      padding: 4px;
      border-width: 1px;
      position: static;
      display: block; }
  .insert-more label {
    position: relative;
    display: inline-block;
    padding-left: 27px;
    margin-top: 8px;
    line-height: 16px;
    font-size: 12px; }
    .insert-more label:before {
      content: url(../images/ico-more.png);
      position: absolute;
      left: 0;
      top: 6px; }
    .insert-more label span {
      color: #6a737b;
      font-family: "Open Sans"; }
  .insert-more .textarea {
    display: none;
    width: 100%;
    height: 0;
    border: 1px solid #ebebeb;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    opacity: 0;
    padding: 0;
    border-width: 0;
    -webkit-animation-name: height;
    animation-name: height;
    -webkit-animation-duration: .1s;
    animation-duration: .1s;
    -webkit-animation-timing-function: ease;
    animation-timing-function: ease;
    color: #6a737b;
    font-family: "Open Sans", sans-serif; }

@-webkit-keyframes height {
  from {
    height: 0; }
  to {
    height: 50px; } }

@keyframes height {
  from {
    height: 0; }
  to {
    height: 50px; } }

#cookie-disclaimer {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 80000;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  bottom: 0;
  -webkit-transform: translate(0, 100%);
  -ms-transform: translate(0, 100%);
  transform: translate(0, 100%); }
  #cookie-disclaimer.active {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0); }

#cookie-disclaimer {
  background-color: #fff;
  border-top: 1px #e1e1e1 solid;
  padding: 12px 15px; }
  #cookie-disclaimer .cookie-disclaimer-wrapper {
    max-width: 690px;
    margin: 0 auto; }
    #cookie-disclaimer .cookie-disclaimer-wrapper .cookie-disclaimer-content {
      width: auto;
      text-align: left;
      line-height: 26px;
      font-size: 12px;
      color: #444444;
      position: relative;
      padding-left: 35px; }
      #cookie-disclaimer .cookie-disclaimer-wrapper .cookie-disclaimer-content a {
        color: #ed174b;
        text-decoration: none; }
        #cookie-disclaimer .cookie-disclaimer-wrapper .cookie-disclaimer-content a:hover {
          text-decoration: underline; }
    #cookie-disclaimer .cookie-disclaimer-wrapper .cookie-disclaimer-close {
      margin-left: 15px;
      margin-bottom: 20px;
      float: right;
      background-color: #c4102f;
      border: none;
      cursor: pointer;
      outline: none;
      color: #fff;
      text-align: center;
      font-size: 14px;
      height: 26px;
      line-height: 26px;
      padding: 0 10px;
      position: relative;
      z-index: 2; }

.header {
  margin-bottom: 22px; }
  .header__container {
    background-color: #393535;
    padding-left: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: relative;
    z-index: 10;
    height: 50px; }
    @media (min-width: 768px) {
      .header__container {
        padding-right: 23px; } }
  .header__menu {
    position: absolute;
    top: 12px;
    right: 15px;
    height: 24px; }
    .header__menu__hamburger {
      cursor: pointer;
      border: 0;
      background-color: transparent;
      padding: 0;
      height: 24px;
      width: 27px; }
      .header__menu__hamburger:focus {
        outline: none; }
      .header__menu__hamburger span {
        top: 12px;
        width: 27px;
        background-color: #7c7777;
        height: 3px;
        display: inline-block;
        -webkit-transition: all 250ms ease-out;
        -o-transition: all 250ms ease-out;
        transition: all 250ms ease-out;
        position: absolute;
        left: 0; }
        .header__menu__hamburger span:after, .header__menu__hamburger span:before {
          content: '';
          width: 27px;
          height: 3px;
          position: absolute;
          right: 0;
          background-color: #7c7777;
          -webkit-transition: all 250ms ease-out;
          -o-transition: all 250ms ease-out;
          transition: all 250ms ease-out; }
        .header__menu__hamburger span:before {
          top: -9px; }
        .header__menu__hamburger span:after {
          bottom: -9px; }
      .header__menu__hamburger--open + .header__menu-list {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0); }
      .header__menu__hamburger--open span {
        background-color: transparent; }
        .header__menu__hamburger--open span:before {
          -webkit-transform: translateY(9px) rotate(45deg);
          -ms-transform: translateY(9px) rotate(45deg);
          transform: translateY(9px) rotate(45deg); }
        .header__menu__hamburger--open span:after {
          -webkit-transform: translateY(-9px) rotate(-45deg);
          -ms-transform: translateY(-9px) rotate(-45deg);
          transform: translateY(-9px) rotate(-45deg); }
    .header__menu-list {
      position: absolute;
      right: 0;
      top: 38px;
      -webkit-transition: -webkit-transform .3s;
      transition: -webkit-transform .3s;
      -o-transition: transform .3s;
      transition: transform .3s;
      transition: transform .3s, -webkit-transform .3s;
      width: 265px;
      padding: 23px;
      background-color: #393535;
      z-index: -1;
      -webkit-transform: translateY(-600px);
      -ms-transform: translateY(-600px);
      transform: translateY(-600px); }
      .header__menu-list ul {
        padding-left: 0;
        margin-bottom: 0; }
        .header__menu-list ul li {
          list-style-type: none;
          line-height: 22px;
          font-size: 14px;
          color: #7c7878;
          text-transform: uppercase;
          font-weight: bold; }
          .header__menu-list ul li span {
            color: #FAA32C;
            text-transform: none; }
          .header__menu-list ul li.space {
            margin-top: 25px; }
      .header__menu-list a {
        color: #fff;
        font-family: "Open Sans", sans-serif;
        font-size: 13px;
        font-weight: normal;
        text-transform: none;
        text-decoration: none; }
        .header__menu-list a:hover {
          text-decoration: underline; }
        .header__menu-list a.button {
          margin-top: 10px;
          text-transform: uppercase;
          min-width: 100px;
          text-align: center;
          line-height: 30px;
          color: #fff;
          display: inline-block;
          padding: 0 30px;
          height: 30px;
          background-color: #7c7878;
          -webkit-transition: background-color 0.3s ease-in-out;
          -o-transition: background-color 0.3s ease-in-out;
          transition: background-color 0.3s ease-in-out;
          font-weight: bold; }
          .header__menu-list a.button:hover {
            text-decoration: none;
            background-color: #a19e9e; }
          .header__menu-list a.button.red {
            background-color: #c4102f; }
            .header__menu-list a.button.red:hover {
              background-color: #ed1e41; }

.footer-vote {
  position: fixed;
  z-index: 10;
  left: 0;
  right: 0;
  bottom: 0; }
  .footer-vote input[type="text"] {
    padding: 3px 8px;
    width: 100%;
    margin-bottom: 11px;
    font-size: 1em; }
    .footer-vote input[type="text"]::-webkit-input-placeholder {
      color: #6a737b; }
    .footer-vote input[type="text"]::-moz-placeholder {
      color: #6a737b; }
    .footer-vote input[type="text"]:-ms-input-placeholder {
      color: #6a737b; }
    .footer-vote input[type="text"]:-moz-placeholder {
      color: #6a737b; }
  .footer-vote4 {
    position: fixed;
    z-index: 10;
    left: 0;
    right: 0;
    bottom: 0; }
    .footer-vote4 p {
      color: #fff;
      text-align: center; }
      .footer-vote4 p span {
        font-weight: 700; }
        .footer-vote4 p span a {
          color: #fff; }

.footer__container {
  padding-top: 26px;
  padding-bottom: 30px;
  background-color: #393535; }

.footer-vote6 {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0; }
  .footer-vote6 form {
    padding-top: 30px; }
  .footer-vote6 img {
    -webkit-transform: translateY(-11px);
    -ms-transform: translateY(-11px);
    transform: translateY(-11px); }
    .footer-vote6 img:first-of-type {
      padding-right: 5px; }
    .footer-vote6 img:last-of-type {
      padding-left: 5px; }

.footer-vote7 .footer__container {
  color: #fff;
  line-height: 21px; }
  .footer-vote7 .footer__container span {
    font-weight: 700;
    text-transform: uppercase; }

.main-login .main-img, .main-edit .main-img, .main-homepage .main-img {
  margin-bottom: 36px;
  padding-top: 20px;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

.main-login p, .main-edit p, .main-homepage p {
  margin-bottom: 40px; }

.main p {
  line-height: 20px;
  color: #6a737b;
  font-family: "Open Sans";
  font-size: 1em;
  margin-top: 0; }

.main-edit .main-img {
  margin-bottom: 62px; }

.main-application .container {
  min-height: 300px;
  height: -webkit-calc(100vh - 72px);
  height: calc(100vh - 72px);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

.main .mb-19 {
  margin-bottom: 19px; }

.main-login .checkbox span {
  color: #b1b1b1;
  font-family: "Open Sans", sans-serif;
  font-size: .923em; }

.main-login .forgot-password {
  margin-top: 12px;
  color: #6a737b;
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  line-height: 20px; }
  .main-login .forgot-password a {
    color: #6a737b;
    text-decoration: underline; }

.main-step .step-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .main-step .step-header-step {
    font-size: 1em;
    font-family: "Gotham-Medium";
    color: #231f20; }

.main-step__header {
  color: #c30f2f;
  font-family: "Gotham";
  font-size: 1.384em;
  margin-bottom: 0; }

.main-step-1 p {
  font-family: "Open Sans", sans-serif;
  font-size: .923em;
  line-height: 17px; }

.main-step-2 .step-header {
  margin-bottom: 14px; }

.main-step-2 .container {
  min-height: 300px;
  height: -webkit-calc(100vh - 72px);
  height: calc(100vh - 72px);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

.main-step-3 .step-header {
  margin-bottom: 14px; }

.main-step-3 .form-style .dropdown {
  width: 100%; }

.main-step-3 .form-date:not(.form-style) {
  margin-bottom: 18px; }

.main-step-3 .insert-more label:before {
  top: 0;
  cursor: pointer; }

.main-footer {
  background-color: #393535;
  margin-left: -23px;
  margin-right: -23px;
  padding: 23px; }
  @media (min-width: 768px) {
    .main-footer {
      margin-left: -60px;
      margin-right: -60px;
      padding-left: 60px;
      padding-right: 60px; } }
  .main-footer .checkbox span {
    color: #b1b1b1;
    font-family: "Open Sans", sans-serif;
    display: block; }
    .main-footer .checkbox span:before {
      left: 0; }
    .main-footer .checkbox span:after {
      left: 2px; }
  .main-footer .checkbox a {
    color: #b1b1b1;
    font-family: "Open Sans", sans-serif;
    text-decoration: underline; }

.main-desktop .container {
  background-color: #fff;
  padding-top: 32px; }

.main-desktop p {
  color: #b1b1b1; }

.main-desktop .under-section {
  color: #6a737b; }

.main-desktop .form-style .dropdown {
  width: 100%; }

.main-desktop .insert-more label:before {
  top: 0; }

.main-verify .section-header span {
  color: #c30f2f; }

.desktop-view {
  background-color: #f2f2f2; }
  .desktop-view .header {
    margin-bottom: 0; }

.main-votethanku {
  min-height: 450px;
  height: -webkit-calc(100vh - 172px);
  height: calc(100vh - 172px); }
  .main-votethanku .section-header {
    margin-top: 34px; }

.main-vote1 {
  min-height: 450px;
  height: -webkit-calc(100vh - 212px);
  height: calc(100vh - 212px); }
  .main-vote1 .section-header {
    margin-top: 14px; }

.main-vote2 {
  min-height: 450px;
  height: -webkit-calc(100vh - 172px);
  height: calc(100vh - 172px); }
  .main-vote2 .section-header {
    margin-top: 14px; }

.main-vote3 .time-p {
  margin-bottom: 22px; }

.main-vote3 .beer {
  padding-top: 20px;
  padding-bottom: 33px;
  background-color: #393535; }
  .main-vote3 .beer .main-step__header {
    color: #fff;
    margin-bottom: 20px; }
  .main-vote3 .beer p {
    color: #fff;
    margin-bottom: 24px; }

.main-vote3 .place {
  padding-top: 20px;
  padding-bottom: 33px; }
  .main-vote3 .place .main-step__header {
    color: #000;
    margin-bottom: 20px; }

.main-vote4 {
  min-height: 450px;
  padding-bottom: 110px; }
  .main-vote4 .reported-beer {
    font-weight: 700;
    line-height: 20px;
    border: 1px solid #ebebeb;
    text-align: center;
    padding: 4px;
    color: #393536; }

.main .reported-beer-list {
  padding-left: 0;
  margin-bottom: 0; }
  .main .reported-beer-list li {
    list-style-type: none;
    border-bottom: 1px solid #f2f2f2;
    padding-top: 8px;
    padding-bottom: 8px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    overflow: hidden; }
    .main .reported-beer-list li:hover .beer-more {
      -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
      transform: translateX(0); }
  .main .reported-beer-list .beer-counter {
    color: #c30f2f;
    font-weight: 700;
    display: inline-block;
    padding-right: 19px;
    font-size: 1.384em;
    vertical-align: top; }
  .main .reported-beer-list .beer-name {
    display: inline-block;
    color: #6a737b; }
    .main .reported-beer-list .beer-name strong {
      display: block;
      color: #231f20; }
  .main .reported-beer-list .beer-more {
    position: absolute;
    left: 0;
    top: 0;
    color: #fff;
    text-transform: uppercase;
    background-color: rgba(57, 53, 53, 0.9);
    background-color: rgba(57, 53, 53, 0.9);
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 54px;
    -webkit-transform: translateX(-800px);
    -ms-transform: translateX(-800px);
    transform: translateX(-800px);
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    -o-transition: transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s; }
    .main .reported-beer-list .beer-more:hover {
      text-decoration: none; }

.main-vote5 .form-inputs {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

.main-vote5 input, .main-vote5 button {
  border: 1px solid #ebebeb;
  padding: 4.5px 8px;
  width: -webkit-calc(50% - 4px);
  width: calc(50% - 4px);
  background-color: #fff; }

.main-vote5 button {
  cursor: pointer; }
  .main-vote5 button.active {
    background-color: #EBEBEB; }

.main-vote5 .flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.main-vote5 .form-date {
  width: -webkit-calc(50% - 4px);
  width: calc(50% - 4px); }
  .main-vote5 .form-date .dropdown {
    width: 100%; }

.main-vote6 {
  padding-bottom: 190px; }
  .main-vote6 .main-img {
    margin-bottom: 12px; }
  .main-vote6 .beer-info {
    display: inline-block;
    margin-bottom: 24px; }
  .main-vote6 .beer-owner {
    color: #231f20;
    font-weight: 700; }
  .main-vote6 .beer-company {
    color: #6a737b;
    display: block;
    padding-bottom: 18px;
    border-bottom: 1px solid  #f2f2f2;
    margin-bottom: 18px; }
  .main-vote6n {
    padding-bottom: 0; }
